#thanks
  Thanks, look in the mail in a couple of weeks.
  Happy Holidays!
  
#postcard{:style => "background-image: url(#{@destination.postcard_image})"}
  = form_for [@destination, @recipient], :remote => true do |f|
    = image_tag "tattoo.png", :id => "tattoo"
    = image_tag "cancel_stamp.png", :id => "cancel_postage_stamp"
    = image_tag "stamp.jpg", :id => "hidden_postage_stamp"
    - if !@is_mobile_browser
      #stamp_target
    - else
      #send_button= submit_tag "Send!"

    %h1= @destination.name
    #left_panel
      #name_field
        Dear
        = f.text_field :name, :title => "Your name"
        = ","
      #text
        %p= @destination.example_text
        %p
          Wish you were here,
        #signature
          = image_tag "cory-sig.png"
        
    #right_panel
      #address_field
        TO:
        = f.text_area :address, :title => "#{@destination.example_address}\n(Your Address)"
    #instruction_field
      = f.text_field :instructions, :title => "Special Instructions/Requests Go Here. (Challenge me.)"
    
- if !@is_mobile_browser
  #arrow
    To send, drag the stamp.
    %br
    = image_tag "arrow.png"
  = image_tag "stamp.jpg", :id => "postage_stamp"
